<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"/></svg>
            Semestres
          </div>
          <div class="col-md-4">
            <%= link_to('Novo Semestre', new_admin_semester_path, class: "btn btn-success pull-right")%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
          <thead>
            <th>Semestre</th>
            <th>Status</th>
            <th>Ações</th>
          </thead>
          <tbody>
            <% @semesters.each do |semester| %>
            <tr>
              <td><%= semester.to_s %></td>
              <td>
                <% if semester.status? %>
                <span class="label label-success">Ativo</span>
              <% else %>
                <span class="label label-danger">Inativo</span>
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_semester_path(semester), class: "btn btn-default" do %>
                <span>Editar</span>
                <% end %>
                <%= link_to admin_semester_path(semester), method: :delete, data: { confirm: 'Tem certeza que quer apagar semestre letivo?' }, class: "btn btn-default" do %>
                <span>Excluir</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
