/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require lumio
 *= require datepicker
 *= require bootstrap-table
 *= require bootstrap-select.min
 *= require admin/import
 *= require admin/campus_schedules
*/


.btn {
  &.btn-default {
    margin: 2px;
  }
}

.form-group {
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.form-inline {
  .form-group {
    label {
      display: inline-block;
    }
  }
}

.alert {
  li {
    display: block !important;
  }

  &.bg-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}
